body{
  display: flex;
  margin-left: 5%;
  align-items: center;
}

.task{
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-top: 5%;
  align-items: center;
  background-color: grey;
  color: white;
  padding: 2%;
  border-radius: 5px;
}

.task p{
  width: 50%;
}
button{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 0px;
  font-weight: 200;
}

input{
  width: 400px;
  height: 25px;
}